#panelleft {
  margin-top: 25px;
  margin-left: -75px;
  padding: 15px;
  width: 600px;
  height: 700px;
}
#panelright {
  margin-top: 25px;
  margin-left: -35px;
  padding: 15px;
  width: 600px;
  height: 700px;
}

#panelbottom {
  margin-top: 25px;
  margin-left: -75px;
  width: 1210px;
  height: 400px;
}

#aboutmepanelleft {
  margin-top: 25px;
  margin-left: -75px;
  padding: 15px;
  width: 400px;
  height: 500px;
}

#aboutmepanelmid {
  margin-top: 25px;
  margin-left: -45px;
  padding: 15px;
  width: 400px;
  height: 500px;
}

#aboutmepanelright {
  margin-top: 25px;
  margin-left: -15px;
  padding: 15px;
  width: 400px;
  height: 500px;
}

#aboutmepanelbottomleft {
  margin-top: 25px;
  margin-left: -75px;
  padding: 15px;
  width: 600px;
  height: 500px;
}

#aboutmepanelbottomright {
  margin-top: 25px;
  margin-left: -25px;
  padding: 15px;
  width: 600px;
  height: 500px;
}

.panelstyle {
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
}
#quicklinks {
  list-style: none;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#rotateimg {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  width: 95%;
  margin-top: 75px;
}

#rotateimg1 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 45px;
  width: 65%;
  margin-left: 25px;
}

#rotateimg2 {
  width: 100%;
  margin-top: 45px;
}

#rotateimg3 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 60%;
  margin-top: 75px;
  margin-left: 60px;
}

.textcenter {
  text-align: center;
}


#picture1text {
  padding-top: 35px;
  padding-left: 45px;
  width: 250px;
  text-align: center;
}

#picture2text {
  padding-top: 35px;
  padding-left: 60px;
  width: 300px;
  text-align: center;
}

#picture3text {
  padding-top: 75px;
  padding-left: 60px;
  width: 300px;
  text-align: center;
}

#aboutmetext1 {
  font-size: 12px;
}

#texastechimg {
  margin-top: 130px;
}

#listfont li {
  font-size: 13px;
}

#sozopolpots {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  float:left;
  width: 40%;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#projectpanel1 {
  margin-top: 25px;
  margin-left: -75px;
  padding: 15px;
  width: 400px;
  height: 300px;
}

#projectpanel2 {
  margin-top: 25px;
  margin-left: -45px;
  padding: 15px;
  width: 400px;
  height: 300px;
}

#projectpanel3 {
  margin-top: 25px;
  margin-left: -15px;
  padding: 15px;
  width: 400px;
  height: 300px;
}

#projectpanel4 {
  margin-top: 25px;
  margin-left: -75px;
  padding: 15px;
  width: 400px;
  height: 300px;
}

#projectpanel5 {
  margin-top: 25px;
  margin-left: -45px;
  padding: 15px;
  width: 400px;
  height: 300px;
}

#projectpanel6 {
  margin-top: 25px;
  margin-left: -15px;
  padding: 15px;
  width: 400px;
  height: 300px;
}

#projectpanel7 {
  margin-top: 25px;
  margin-left: 20px;
  padding: 15px;
  width: 1220px;
  height: 300px;
}